body {
    font-size: 15px;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.container-masthead {
    width: 100%;
    height: 85vh;
}

#video1 {
    width: 100%;
    height: 85vh;
    object-fit: cover;
    object-position: top;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: turquoise !important;
}

.starter-pack-container {
    position: relative;
}

.st-img-1 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.starter-pack-container:hover .st-img-1 {
    opacity: 0.3;
}

.starter-pack-container:hover .middle {
    opacity: 1;
}

.text {
    background-color: turquoise;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.page-section {
    padding: 3rem 0;
}

.badges-container {
    max-width: 55%;
}

/* owl carousel */

.product-item{
    border: 1px solid rgb(219, 219, 219);
}
.product-img{
    position: relative;
    overflow: hidden;
}
.btns{
    position: absolute;
    left: 0;
    bottom: -100%;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}
.btns button{
    border: none;
    background-color: rgb(224, 224, 224);
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.btns button:hover{
    color: #f4623a;
}
.product-img:hover .btns{
    bottom: 0;
}

.heart-icon{
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 18px;
}

.product-type{
    font-size: 13px;
    opacity: 0.8;
}
.product-name{
    transition: all 0.3s ease-in-out;
}
.product-name:hover{
    color: #fcb941!important;
}
.product-price{
    color: #f4623a;
}
.rating{
    font-size: 13px;
}
.product-item{
    width: 300px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 30px!important;
}

.image-info-section {
    width: 100%;
}

/*mobile -------------------------------------------------------------*/
@media screen and (max-width: 980px) {
    #mainNav {
        box-shadow: none;
        background-color: transparent;
    }

    #mainNav.navbar-shrink {
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
        background-color: #fff;
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: #212529;
    }

    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }

    .navbar-light .navbar-toggler {
        color: transparent;
        border-color: transparent;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        padding: 0.45rem 0;
    }

    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
        color: rgba(0, 0, 0, 0.7);
        padding: 0.45rem 0;
    }

    .page-section {
        padding: 4rem 0;
    }

    .nav {
        flex-wrap: nowrap;
        font-size: smaller;
    }

    .nav-tabs .nav-link {
        padding: 3px 10px;
    }

    .badges-container {
        max-width: 100%;
    }
}