body {
    font-size: 15px;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.container-masthead {
    width: 100%;
    height: 85vh;
}

#video1 {
    width: 100%;
    height: 85vh;
    object-fit: cover;
    object-position: top;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: turquoise !important;
}

.starter-pack-container {
    position: relative;
}

.st-img-1 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.starter-pack-container:hover .st-img-1 {
    opacity: 0.3;
}

.starter-pack-container:hover .middle {
    opacity: 1;
}

.text {
    background-color: turquoise;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.page-section {
    padding: 3rem 0;
}

.badges-container {
    max-width: 55%;
}


/* carousel */
.swap-on-hover {
    /* position: relative;
    width: auto; */
    min-height: 350px;
}

.swap-on-hover img {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.swap-on-hover .swap-on-hover__front-image {
    z-index: 4;
    transition: opacity .5s linear;
    cursor: pointer;
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}


.swap-on-hover .swap-on-hover__back-image {
    width: 100%;
    height: auto;
}

.swap-on-hover:hover>.swap-on-hover__front-image {
    opacity: 0;
}


/* .discount::after {
    content: '-33%';
    color: black;
    font-weight: bold;
    width: auto;
    padding: 2px 15px;
    background-color: #d9ff4e;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 5;
} */


/*mobile vers -------------------------------------------------------------*/
@media screen and (max-width: 980px) {
    #mainNav {
        box-shadow: none;
        background-color: transparent;
    }

    #mainNav.navbar-shrink {
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
        background-color: #fff;
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: #212529;
    }

    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }

    .navbar-light .navbar-toggler {
        color: transparent;
        border-color: transparent;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        padding: 0.45rem 0;
    }

    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
        color: rgba(0, 0, 0, 0.7);
        padding: 0.45rem 0;
    }

    .page-section {
        padding: 4rem 0;
    }

    .nav {
        flex-wrap: nowrap;
        font-size: smaller;
    }

    .nav-tabs .nav-link {
        padding: 3px 10px;
    }

    .badges-container {
        max-width: 100%;
    }

}


/* carousel */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    .swap-on-hover {
        position: relative;
        width: auto;
        min-height: 420px;
    }
}
